<meta charset="utf-8">
<title>Imladris - Mon site</title>
<!-- commentaire -->
{% assets "vitrine_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "vitrine_css" %}
  <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}
