<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    {% include 'vitrine/includes/head.html' %}
  </head>
  <body>
    <h1>Site en construction</h1>
    <p>Bientôt un nouveau site super beau ! (si)</p>
  </body>
</html>
